$font-main-size: 16px;
$font-main-color: #283136;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$red: #fb565a;
$red-hover: #e74246;
$green: #00ca74;
$green-hover: #00bc6c;
$yellow: #efc84a;
$yellow-hover: #eab534;
$light-gray: #eee;