.services
	.services__items
		.services__item
			.services__img
				img(src="../img/services/sites.jpg" alt="sites")
			h2.services__title Веб-сайты
			.services__subtitle Мир никогда не будет прежним после того как увидит ваш сайт!
			+btn("#", "Заказать")(class="btn btn--sm")
		.services__item
			.services__img
				img(src="../img/services/apps.jpg" alt="apps")
			h2.services__title Приложения
			.services__subtitle Покорите топ-10 приложений в AppStore и Google Play
			+btn("#", "Заказать")(class="btn btn--sm btn--green")
		.services__item
			.services__img
				img(src="../img/services/presentations.jpg" alt="presentations")
			h2.services__title Презентации
			.services__subtitle Вы даже не подозреваете, насколько вы изумительны!
			+btn("#", "Заказать")(class="btn btn--sm btn--yellow")