.partners
	.partners__items
		.partners__item
			a.partners__link(href="#")
				img.partners__img(src="../img/partners/htmlacademy.png" alt="htmlacademy")
		.partners__item
			a.partners__link(href="#")
				img.partners__img(src="../img/partners/borodinsky.png" alt="borodinsky")
		.partners__item
			a.partners__link(href="#")
				img.partners__img(src="../img/partners/pink.png" alt="pink")
		.partners__item
			a.partners__link(href="#")
				img.partners__img(src="../img/partners/mishka.png" alt="mishka")