.about
	.about__description
		h2.about__title Мы — маленькая, но гордая дизайн-студия из Краснодара
		.about__subtitle Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
		.about__dev
			.about__dev-title Выполняем заказы на разработку:
			ul.about__dev-items
				li.about__dev-item Веб-сайтов любой сложности
				li.about__dev-item Мобильных приложений для iOS и Android
				li.about__dev-item Слайдшоу и видео для корпоративных презентаций
	.about__advantages
		.about__advantages-img
			img(src="../img/about/nerds-illustration.jpg" alt="nerds")
		.about__advantages-title с 2004 года Любим точность во всем:
		.about__advantages-items
			.about__advantages-item
				.about__advantages-percent 146
				.about__advantages-description Уровень самоотдачи
			.about__advantages-item
				.about__advantages-percent 100
				.about__advantages-description Соблюдение сроков
			.about__advantages-item
				.about__advantages-percent 50
				.about__advantages-description Минимальная предоплата