.map#map
	.map__content
		.map__contacts
			.map__title NЁRDS DESIGN STUDIO
			.map__address 191186, Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
			.map__tel тел. +7 (812) 275-75-75
		+btn("javascript:void(0)", "Напишите нам")(class="btn btn--md btn--overlay")