.footer
	.footer__socials
		a.footer__social.footer__social--vk(href="#")
			img.footer__social-img(src="../img/sprites/sprite.svg#vk-icon" alt="vk")
		a.footer__social.footer__social--fb(href="#")
			img.footer__social-img(src="../img/sprites/sprite.svg#fb-icon" alt="fb")
		a.footer__social.footer__social--insta(href="#")
			img.footer__social-img(src="../img/sprites/sprite.svg#insta-icon" alt="insta")
	.footer__promo
		.footer__promo-title Давайте дружить, это выгодно!
		.footer__promo-subtitle Скидка 10% для друзей из социальных сетей